<div class="bg-slate-100">
	<div class="container px-4 py-4 invisible flex" id="currencyContainer">
		<p class="text-lg flex items-center pr-6">
			Currency exchange rates:
		</p>
		<div class="flex items-center">
			<img src="/static/img/gb.svg" width="30px" class="inline-block" />
		</div>
		<div class="px-4 flex items-center">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-6 h-6 inline">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
				/>
			</svg>			  
		</div>
		<div class="pr-4 flex items-center">
			<img src="/static/img/eu.svg" width="30px" class="inline-block" />
			<p class="inline pl-2" id="eur-exchange-value"></p>
		</div>
		<div class="flex items-center pr-4">|</div>
		<div class="flex items-center">
			<img src="/static/img/us.svg" width="30px" class="inline-block" />
			<p class="inline pl-2" id="usd-exchange-value"></p>
		</div>
	</div>
</div>