---
layout: default
path: home
type: home
seoTitle: Large Currency Transfers | International Money Transfers
---

{% include "./_includes/components/currencyExchange.html" %}

<div class="container mx-auto flex flex-col justify-center">

  {% include "./_includes/components/hero.html" %}

  {% include "./_includes/components/homepageSpiel.html" %}

  
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 px-4">
	{% set productCardList = collections.productCard %}

    {% for productCard in productCardList | sort(false, true, 'data.order') %}
		{% include "./_includes/components/product-card.html" %}
    {% endfor %}
  </div>

  {% include "./_includes/components/callToAction.html" %}

</div>

<script defer src="/static/js/exchange-rate.js"></script>

