<footer class="w-full p-4 py-14 bg-slate-700 mt-12">
  <div class="mx-auto max-w-7xl">
    <div class="max-w-3xl mx-auto">

      <div class="flex sm:justify-center sm:ml-[-30px]">
        <a href="/" class="font-bold text-lg flex flex-row items-center">
          <img src="{{ settings.footerLogoUrl }}" alt="{{ settings.logoAlt }}" width="100px" height="100px" class="max-h-26" />
          <div class="mb-0 text-2xl font-bold tracking-tight text-white">{{ settings.siteName }}</div>
        </a>
      </div>

      {% if navigation.items %}
        <ul class="columns-1 xs:columns-2 sm:columns-3 text-lg gap-7 md:flex-row md:gap-12 py-8 mb-10 border-b border-gray-200">
          {% for item in navigation.items %}
            <li class="mb-3">
              <a
                href="{{ item.url }}"
                class="text-white hover:opacity-70 text-sm">
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="flex space-x-10 justify-center items-center mb-10">

        <a
          href="https://www.linkedin.com/company/arragon-digital-limited"
          target="_blank"
          rel="noopener"
          class="block hover:opacity-70 text-white">
          <svg
            width="20px"
            height="20px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <title>LinkedIn</title>
            <path
              fill="currentColor"
              d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
            />
          </svg>
        </a>

        <a
          href="https://www.facebook.com/arragondigitalandaffiliates/"
          target="_blank"
          rel="noopener"
          class="block hover:opacity-70 text-white">
          <svg
            width="20px"
            height="20px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512">
            <title>Facebook</title>
            <path
              fill="currentColor"
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
            />
          </svg>
        </a>
          
      </div>
      <span class="text-base text-center block">
        <small class="text-white">
          © {{ helpers.currentYear() }} <a href="{{ settings.poweredByOneUrl }}" target="_blank" rel="noopener" class="underline">{{ settings.poweredByOne }}</a> & <a href="{{ settings.poweredByTwoUrl }}" target="_blank" rel="noopener" class="underline">{{ settings.poweredByTwo }}</a>. All rights reserved.
        </small>
      </span>

      <p class="font-normal text-center">
        <small>
          <a
            class="hover:opacity-70 underline text-white"
            href="/privacy-policy/">
            Privacy Policy
          </a>
        </small>
      </p>
    </div>
  </div>
</footer>
